[package]
name = "azalea-entity"
version = "0.8.0"
edition = "2021"
description = "Things related to Minecraft entities used by Azalea"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-entity"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-block = { version = "0.8.0", path = "../azalea-block" }
azalea-buf = { version = "0.8.0", path = "../azalea-buf" }
azalea-chat = { version = "0.8.0", path = "../azalea-chat" }
azalea-core = { version = "0.8.0", path = "../azalea-core" }
azalea-inventory = { version = "0.8.0", path = "../azalea-inventory" }
simdnbt = { git = "https://github.com/mat-1/simdnbt" }
azalea-registry = { version = "0.8.0", path = "../azalea-registry" }
azalea-world = { version = "0.8.0", path = "../azalea-world" }
bevy_app = "0.11.2"
bevy_ecs = "0.11.2"
derive_more = "0.99.17"
enum-as-inner = "0.6.0"
log = "0.4.20"
nohash-hasher = "0.2.0"
parking_lot = "0.12.1"
thiserror = "1.0.48"
uuid = "1.4.1"
