[package]
description = "Parse Minecraft chat messages."
edition = "2021"
license = "MIT"
name = "azalea-chat"
version = "0.2.0"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-chat"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-buf = {path = "../azalea-buf", features = ["serde_json"], version = "^0.2.0" }
azalea-language = {path = "../azalea-language", version = "^0.2.0" }
lazy_static = "^1.4.0"
serde = "^1.0.130"
serde_json = "^1.0.72"
