/target
/doc
flamegraph.svg
perf.data
perf.data.old

# TODO: remove this after chunk-decoding is merged
/login.txt

code-generator/Burger
code-generator/client.jar
code-generator/burger.json
__pycache__
*.tmp
