.idea/
.vscode/
doc/
target/
rustc-ice-*

.cargo/config
.cargo/config.toml
azalea-graphics/assets

# created by azalea-auth/examples/auth, defined in the main .gitignore because
# the example could be run from anywhere
example_cache.json

# not created by azalea itself, sometimes used for debugging since the docs specifically mentions using azalea.log
azalea.log

# these are created by profiling tools
flamegraph.svg
perf.data
perf.data.old
heaptrack.*
*.mm_profdata
chrome_profiler.json
