[workspace]
members = [
    "azalea",
    "azalea-auth",
    "azalea-block",
    "azalea-brigadier",
    "azalea-buf",
    "azalea-chat",
    "azalea-client",
    "azalea-core",
    "azalea-crypto",
    "azalea-entity",
    "azalea-inventory",
    "azalea-language",
    "azalea-physics",
    "azalea-protocol",
    "azalea-registry",
    "azalea-world",
]
resolver = "2"

# --- Workspace Settings ---

[workspace.package]
version = "0.11.0+mc1.21.4"
edition = "2021"
license = "MIT"
repository = "https://github.com/azalea-rs/azalea"
# homepage = "https://github.com/azalea-rs/azalea"

[workspace.dependencies]
aes = "0.8.4"
anyhow = "1.0.95"
async-recursion = "1.1.1"
async-trait = "0.1.86"
base64 = "0.22.1"
bevy_app = "0.15.2"
bevy_ecs = { version = "0.15.2", default-features = false }
bevy_log = "0.15.2"
bevy_tasks = "0.15.2"
bevy_time = "0.15.2"
byteorder = "1.5.0"
cfb8 = "0.8.1"
chrono = { version = "0.4.39", default-features = false }
criterion = "0.5.1"
derive_more = "2.0.1"
enum-as-inner = "0.6.1"
env_logger = "0.11.6"
flate2 = "1.0.35"
futures = "0.3.31"
futures-lite = "2.6.0"
log = "0.4.25"
md-5 = "0.10.6"
minecraft_folder_path = "0.1.2"
nohash-hasher = "0.2.0"
num-bigint = "0.4.6"
num-traits = "0.2.19"
parking_lot = "0.12.3"
proc-macro2 = "1.0.93"
quote = "1.0.38"
rand = "0.8.0"
regex = "1.11.1"
reqwest = { version = "0.12.12", default-features = false }
rsa = "0.9.7"
rsa_public_encrypt_pkcs1 = "0.4.0"
rustc-hash = "2.1.1"
serde = "1.0.217"
serde_json = "1.0.138"
sha-1 = "0.10.1"
sha2 = "0.10.8"
simdnbt = "0.7"
socks5-impl = "0.6.1"
syn = "2.0.98"
thiserror = "2.0.11"
tokio = "1.43.0"
tokio-util = "0.7.13"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
hickory-resolver = { version = "0.24.3", default-features = false }
uuid = "1.12.1"
num-format = "0.4.4"
indexmap = "2.7.1"

# --- Profile Settings ---

[profile.release]
debug = true

# decoding packets takes forever if we don't do this
[profile.dev.package.azalea-crypto]
opt-level = 3
[profile.dev.package.cfb8]
opt-level = 3
[profile.dev.package.aes]
opt-level = 3
[profile.dev.package.flate2]
opt-level = 3
