[workspace]
members = [
    "azalea",
    "azalea-auth",
    "azalea-block",
    "azalea-brigadier",
    "azalea-buf",
    "azalea-chat",
    "azalea-client",
    "azalea-core",
    "azalea-crypto",
    "azalea-entity",
    "azalea-inventory",
    "azalea-language",
    "azalea-physics",
    "azalea-protocol",
    "azalea-registry",
    "azalea-world",
]
resolver = "2"

# --- Workspace Settings ---

[workspace.package]
version = "0.13.0+mc1.21.5"
edition = "2024"
license = "MIT"
repository = "https://github.com/azalea-rs/azalea"
# homepage = "https://github.com/azalea-rs/azalea"

[workspace.dependencies]
aes = "0.8.4"
anyhow = "1.0.98"
async-recursion = "1.1.1"
base64 = "0.22.1"
bevy_app = "0.16.1"
bevy_ecs = { version = "0.16.1", default-features = false }
bevy_log = "0.16.1"
bevy_tasks = "0.16.1"
bevy_time = "0.16.1"
byteorder = "1.5.0"
cfb8 = "0.8.1"
chrono = { version = "0.4.41", default-features = false }
criterion = "0.6.0"
derive_more = "2.0.1"
enum-as-inner = "0.6.1"
env_logger = "0.11.8"
flate2 = { version = "1.1.2", features = ["zlib-rs"] }
futures = "0.3.31"
futures-lite = "2.6.0"
md-5 = "0.10.6"
minecraft_folder_path = "0.1.2"
nohash-hasher = "0.2.0"
num-bigint = "0.4.6"
num-traits = "0.2.19"
parking_lot = "0.12.4"
proc-macro2 = "1.0.95"
quote = "1.0.40"
rand = "0.9.1"
regex = "1.11.1"
reqwest = { version = "0.12.20", default-features = false }
rsa = "0.10.0-rc.0"
rsa_public_encrypt_pkcs1 = "0.4.0"
rustc-hash = "2.1.1"
serde = "1.0.219"
serde_json = "1.0.140"
sha-1 = "0.10.1"
sha2 = "0.11.0-rc.0"
simdnbt = "0.7"
socks5-impl = "0.7.0"
syn = "2.0.103"
thiserror = "2.0.12"
tokio = "1.45.1"
tokio-util = "0.7.15"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
hickory-resolver = "0.25.2"
uuid = "1.17"
num-format = "0.4.4"
indexmap = "2.9.0"
paste = "1.0.15"
compact_str = "0.9.0"
crc32fast = "1.4.2"
async-compat = "0.2.4"

azalea-block-macros = { path = "azalea-block/azalea-block-macros", version = "0.13.0" }
azalea-block = { path = "azalea-block", version = "0.13.0" }
azalea-auth = { path = "azalea-auth", version = "0.13.0" }
azalea-brigadier = { path = "azalea-brigadier", version = "0.13.0" }
azalea-buf-macros = { path = "azalea-buf/azalea-buf-macros", version = "0.13.0" }
azalea-buf = { path = "azalea-buf", version = "0.13.0" }
azalea-chat = { path = "azalea-chat", version = "0.13.0" }
azalea-client = { path = "azalea-client", version = "0.13.0", default-features = false }
azalea-core = { path = "azalea-core", version = "0.13.0" }
azalea-crypto = { path = "azalea-crypto", version = "0.13.0" }
azalea-entity = { path = "azalea-entity", version = "0.13.0" }
azalea-inventory-macros = { path = "azalea-inventory/azalea-inventory-macros", version = "0.13.0" }
azalea-inventory = { path = "azalea-inventory", version = "0.13.0" }
azalea-language = { path = "azalea-language", version = "0.13.0" }
azalea-physics = { path = "azalea-physics", version = "0.13.0" }
azalea-protocol-macros = { path = "azalea-protocol/azalea-protocol-macros", version = "0.13.0" }
azalea-protocol = { path = "azalea-protocol", version = "0.13.0" }
azalea-registry-macros = { path = "azalea-registry/azalea-registry-macros", version = "0.13.0" }
azalea-registry = { path = "azalea-registry", version = "0.13.0" }
azalea-world = { path = "azalea-world", version = "0.13.0" }

# --- Profile Settings ---

[profile.release]
debug = true

# decoding packets takes forever if we don't do this
[profile.dev.package.azalea-crypto]
opt-level = 3
[profile.dev.package.cfb8]
opt-level = 3
[profile.dev.package.aes]
opt-level = 3
[profile.dev.package.flate2]
opt-level = 3
