[workspace]
members = [
  "azalea",
  "azalea-client",
  "azalea-protocol",
  "azalea-chat",
  "azalea-core",
  "azalea-auth",
  "azalea-brigadier",
  "azalea-crypto",
  "azalea-world",
  "azalea-language",
  "azalea-block",
  "azalea-buf",
  "azalea-physics",
  "azalea-registry",
  "azalea-inventory",
  "azalea-entity",
]
resolver = "2"

[profile.release]
debug = true

# decoding packets takes forever if we don't do this
[profile.dev.package.azalea-crypto]
opt-level = 3
[profile.dev.package.cfb8]
opt-level = 3
[profile.dev.package.aes]
opt-level = 3
[profile.dev.package.flate2]
opt-level = 3
