[workspace]

members = [
  "bot",
  "azalea-client",
  "azalea-protocol",
  "azalea-chat",
  "azalea-core",
  "azalea-auth",
  "azalea-nbt",
  "azalea-brigadier",
  "azalea-crypto",
]

[profile.release]
debug = true

# decoding packets takes forever if we don't do this
[profile.dev.package.azalea-crypto]
opt-level = 3
[profile.dev.package.cipher]
opt-level = 3
[profile.dev.package.cfb8]
opt-level = 3
[profile.dev.package.aes]
opt-level = 3
