[workspace]
members = [
    "azalea",
    "azalea-auth",
    "azalea-block",
    "azalea-brigadier",
    "azalea-buf",
    "azalea-chat",
    "azalea-client",
    "azalea-core",
    "azalea-crypto",
    "azalea-entity",
    "azalea-inventory",
    "azalea-language",
    "azalea-physics",
    "azalea-protocol",
    "azalea-registry",
    "azalea-world",
]
resolver = "2"

# --- Workspace Settings ---

[workspace.package]
version = "0.12.0+mc25w16a"
edition = "2024"
license = "MIT"
repository = "https://github.com/azalea-rs/azalea"
# homepage = "https://github.com/azalea-rs/azalea"

[workspace.dependencies]
aes = "0.8.4"
anyhow = "1.0.98"
async-recursion = "1.1.1"
base64 = "0.22.1"
bevy_app = "0.16.0"
bevy_ecs = { version = "0.16.0", default-features = false }
bevy_log = "0.16.0"
bevy_tasks = "0.16.0"
bevy_time = "0.16.0"
byteorder = "1.5.0"
cfb8 = "0.8.1"
chrono = { version = "0.4.40", default-features = false }
criterion = "0.5.1"
derive_more = "2.0.1"
enum-as-inner = "0.6.1"
env_logger = "0.11.8"
flate2 = { version = "1.1.1", features = ["zlib-rs"] }
futures = "0.3.31"
futures-lite = "2.6.0"
md-5 = "0.10.6"
minecraft_folder_path = "0.1.2"
nohash-hasher = "0.2.0"
num-bigint = "0.4.6"
num-traits = "0.2.19"
parking_lot = "0.12.3"
proc-macro2 = "1.0.95"
quote = "1.0.40"
rand = "0.8.4"
regex = "1.11.1"
reqwest = { version = "0.12.15", default-features = false }
rsa = "0.9.8"
rsa_public_encrypt_pkcs1 = "0.4.0"
rustc-hash = "2.1.1"
serde = "1.0.219"
serde_json = "1.0.140"
sha-1 = "0.10.1"
sha2 = "0.10.8"
simdnbt = "0.7"
socks5-impl = "0.6.2"
syn = "2.0.100"
thiserror = "2.0.12"
tokio = "1.44.2"
tokio-util = "0.7.15"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
hickory-resolver = "0.25.2"
uuid = "1.16"
num-format = "0.4.4"
indexmap = "2.9.0"
paste = "1.0.15"
compact_str = "0.9.0"
crc32fast = "1.4.2"
async-compat = "0.2.4"

# --- Profile Settings ---

[profile.release]
debug = true

# decoding packets takes forever if we don't do this
[profile.dev.package.azalea-crypto]
opt-level = 3
[profile.dev.package.cfb8]
opt-level = 3
[profile.dev.package.aes]
opt-level = 3
[profile.dev.package.flate2]
opt-level = 3
