[package]
description = "Send and receive Minecraft packets."
edition = "2021"
license = "MIT"
name = "azalea-protocol"
repository = "https://github.com/azalea-rs/azalea/tree/main/azalea-protocol"
version = "0.9.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
simdnbt = { version = "0.4", git = "https://github.com/azalea-rs/simdnbt" }
async-recursion = "1.0.5"
azalea-auth = { path = "../azalea-auth", version = "0.9.0" }
azalea-block = { path = "../azalea-block", default-features = false, version = "0.9.0" }
azalea-brigadier = { path = "../azalea-brigadier", version = "0.9.0", features = [
    "azalea-buf",
] }
azalea-buf = { path = "../azalea-buf", version = "0.9.0" }
azalea-chat = { path = "../azalea-chat", version = "0.9.0", features = [
    "numbers",
] }
azalea-core = { path = "../azalea-core", optional = true, version = "0.9.0", features = [
    "serde",
] }
azalea-crypto = { path = "../azalea-crypto", version = "0.9.0" }
azalea-entity = { version = "0.9.0", path = "../azalea-entity" }
azalea-inventory = { version = "0.9.0", path = "../azalea-inventory" }
azalea-protocol-macros = { path = "./azalea-protocol-macros", version = "0.9.0" }
azalea-registry = { path = "../azalea-registry", version = "0.9.0" }
azalea-world = { path = "../azalea-world", version = "0.9.0" }
bevy_ecs = { version = "0.13.0", default-features = false }
byteorder = "^1.5.0"
bytes = "^1.5.0"
flate2 = "1.0.28"
futures = "0.3.30"
futures-lite = "2.2.0"
futures-util = "0.3.30"
tracing = "0.1.40"
serde = { version = "^1.0", features = ["serde_derive"] }
serde_json = "^1.0.113"
thiserror = "1.0.57"
tokio = { version = "^1.36.0", features = ["io-util", "net", "macros"] }
tokio-util = { version = "0.7.10", features = ["codec"] }
trust-dns-resolver = { version = "^0.23.2", default-features = false, features = [
    "tokio-runtime",
] }
uuid = "1.7.0"
log = "0.4.20"

socks5-impl = "0.5.6"

[features]
connecting = []
default = ["packets"]
packets = ["connecting", "dep:azalea-core"]
strict_registry = ["packets"]

[dev-dependencies]
anyhow = "^1.0.79"
tracing = "^0.1.40"
tracing-subscriber = "^0.3.18"
once_cell = "1.19.0"
