[package]
description = "A port of Mojang's Authlib and launcher authentication."
edition = "2021"
license = "MIT"
name = "azalea-auth"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-auth"
version = "0.8.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-buf = { path = "../azalea-buf", version = "0.8.0" }
azalea-crypto = { path = "../azalea-crypto", version = "0.8.0" }
base64 = "0.21.4"
chrono = { version = "0.4.31", default-features = false, features = ["serde"] }
log = "0.4.20"
num-bigint = "0.4.4"
once_cell = "1.18.0"
reqwest = { version = "0.11.21", default-features = false, features = [
    "json",
    "rustls-tls",
] }
rsa = "0.9.2"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
thiserror = "1.0.49"
tokio = { version = "1.32.0", features = ["fs"] }
uuid = { version = "1.4.1", features = ["serde"] }

[dev-dependencies]
env_logger = "0.10.0"
tokio = { version = "1.32.0", features = ["full"] }
