[package]
description = "Use Minecraft's registries."
edition = "2021"
license = "MIT"
name = "azalea-registry"
repository = "https://github.com/azalea-rs/azalea/tree/main/azalea-registry"
version = "0.10.3+mc1.21.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
simdnbt = "0.6"
azalea-buf = { path = "../azalea-buf", version = "0.10.0" }
azalea-registry-macros = { path = "./azalea-registry-macros", version = "0.10.0" }
once_cell = "1.19.0"
serde = { version = "^1.0", optional = true }
[features]
serde = ["azalea-registry-macros/serde", "dep:serde"]
default = ["serde"]
