[package]
description = "The Minecraft world representation used in Azalea."
edition = "2021"
license = "MIT"
name = "azalea-world"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-world"
version = "0.6.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-block = {path = "../azalea-block", default-features = false, version = "^0.6.0"}
azalea-buf = {path = "../azalea-buf", version = "^0.6.0"}
azalea-chat = {path = "../azalea-chat", version = "^0.6.0"}
azalea-core = {path = "../azalea-core", version = "^0.6.0", features = ["bevy_ecs"]}
azalea-ecs = {version = "0.6.0", path = "../azalea-ecs"}
azalea-nbt = {path = "../azalea-nbt", version = "^0.6.0"}
azalea-registry = {path = "../azalea-registry", version = "^0.6.0"}
derive_more = {version = "0.99.17", features = ["deref", "deref_mut"]}
enum-as-inner = "0.5.1"
log = "0.4.17"
nohash-hasher = "0.2.0"
once_cell = "1.16.0"
parking_lot = "^0.12.1"
thiserror = "1.0.34"
uuid = "1.1.2"

[profile.release]
lto = true
