[package]
description = "The Minecraft world representation used in Azalea."
edition = "2021"
license = "MIT"
name = "azalea-world"
repository = "https://github.com/azalea-rs/azalea/tree/main/azalea-world"
version = "0.8.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-block = { path = "../azalea-block", default-features = false, version = "0.8.0" }
azalea-buf = { path = "../azalea-buf", version = "0.8.0" }
azalea-core = { path = "../azalea-core", version = "^0.8.0", features = [
	"bevy_ecs",
] }
azalea-inventory = { version = "0.8.0", path = "../azalea-inventory" }
simdnbt = { version = "0.2.1" }
azalea-registry = { path = "../azalea-registry", version = "0.8.0" }
bevy_ecs = "0.12.0"
derive_more = { version = "0.99.17", features = ["deref", "deref_mut"] }
enum-as-inner = "0.6.0"
tracing = "0.1.40"
nohash-hasher = "0.2.0"
once_cell = "1.18.0"
parking_lot = "^0.12.1"
thiserror = "1.0.50"
uuid = "1.5.0"
serde_json = "1.0.108"
serde = "1.0.192"

[dev-dependencies]
azalea-client = { path = "../azalea-client" }
criterion = "0.5.1"

[[bench]]
name = "chunks"
harness = false
