[package]
description = "The Minecraft world representation used in Azalea."
edition = "2021"
license = "MIT"
name = "azalea-world"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-world"
version = "0.7.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-block = { path = "../azalea-block", default-features = false, version = "^0.7.0" }
azalea-buf = { path = "../azalea-buf", version = "^0.7.0" }
azalea-core = { path = "../azalea-core", version = "^0.7.0", features = [
	"bevy_ecs",
] }
azalea-inventory = { version = "0.7.0", path = "../azalea-inventory" }
azalea-nbt = { path = "../azalea-nbt", version = "^0.7.0" }
azalea-registry = { path = "../azalea-registry", version = "^0.7.0" }
bevy_ecs = "0.11.0"
derive_more = { version = "0.99.17", features = ["deref", "deref_mut"] }
enum-as-inner = "0.6.0"
log = "0.4.19"
nohash-hasher = "0.2.0"
once_cell = "1.18.0"
parking_lot = "^0.12.1"
thiserror = "1.0.43"
uuid = "1.4.0"

[profile.release]
lto = true

[dev-dependencies]
azalea-client = { path = "../azalea-client" }
