[package]
description = "The Minecraft world representation used in Azalea."
edition = "2021"
license = "MIT"
name = "azalea-world"
repository = "https://github.com/azalea-rs/azalea/tree/main/azalea-world"
version = "0.10.3+mc1.21.4-rc1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-block = { path = "../azalea-block", default-features = false, version = "0.10.0" }
azalea-buf = { path = "../azalea-buf", version = "0.10.0" }
azalea-core = { path = "../azalea-core", version = "0.10.0", features = [
    "bevy_ecs",
] }
azalea-registry = { path = "../azalea-registry", version = "0.10.0" }
bevy_ecs = { workspace = true }
derive_more = { workspace = true, features = ["deref", "deref_mut"] }
nohash-hasher = { workspace = true }
parking_lot = { workspace = true }
rustc-hash = { workspace = true }
simdnbt = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
azalea-client = { path = "../azalea-client" }
criterion = { workspace = true }

[[bench]]
name = "chunks"
harness = false
