[package]
description = "A framework for creating Minecraft bots."
edition = "2021"
license = "MIT"
name = "azalea"
version = "0.2.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "^1.0.65"
async-trait = "^0.1.57"
azalea-client = { version = "0.2.0", path = "../azalea-client" }
azalea-protocol = { version = "0.2.0", path = "../azalea-protocol" }
parking_lot = "^0.12.1"
thiserror = "^1.0.37"
tokio = "^1.21.1"

[dev-dependencies]
anyhow = "^1.0.65"
env_logger = "^0.9.1"
tokio = "^1.21.1"
