[package]
description = "Advertisement crate for Azalea."
edition = "2021"
license = "MIT"

name = "azalea"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
