[package]
edition = "2021"
name = "azalea-buf"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
buf-macros = {path = "./azalea-buf-macros"}
byteorder = "^1.4.3"
serde_json = {version = "^1.0", optional = true}
thiserror = "^1.0.31"
tokio = {version = "^1.19.2", features = ["io-util", "net", "macros"]}
uuid = "^1.1.2"

[features]
serde_json = ["dep:serde_json"]
