[package]
description = "Serialize and deserialize buffers from Minecraft."
edition = "2021"
license = "MIT"
name = "azalea-buf"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-buf"
version = "0.6.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
azalea-buf-macros = {path = "./azalea-buf-macros", version = "^0.6.0" }
byteorder = "^1.4.3"
log = "0.4.17"
serde_json = {version = "^1.0", optional = true}
thiserror = "1.0.37"
tokio = {version = "^1.24.2", features = ["io-util", "net", "macros"]}
uuid = "^1.1.2"

[features]
serde_json = ["dep:serde_json"]
