[package]
description = "A headless Minecraft client."
edition = "2021"
license = "MIT"
name = "azalea-client"
repository = "https://github.com/mat-1/azalea/tree/main/azalea-client"
version = "0.3.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.59"
azalea-auth = {path = "../azalea-auth", version = "0.3.0"}
azalea-block = {path = "../azalea-block", version = "0.3.0"}
azalea-chat = {path = "../azalea-chat", version = "0.3.0"}
azalea-core = {path = "../azalea-core", version = "0.3.0"}
azalea-crypto = {path = "../azalea-crypto", version = "0.3.0"}
azalea-physics = {path = "../azalea-physics", version = "0.3.0"}
azalea-protocol = {path = "../azalea-protocol", version = "0.3.0"}
azalea-world = {path = "../azalea-world", version = "0.3.0"}
log = "0.4.17"
parking_lot = "0.12.1"
thiserror = "1.0.37"
tokio = {version = "^1.21.2", features = ["sync"]}
uuid = "^1.1.2"
